$proportionsGridMaxWidth: 1024 !default;
$proportionsGridDefaultJustify: flex-start !default;
$proportionsGridSpacingRatio: 1.618 !default;
$proportionsGridBaseFontSize: 16 !default;

$proportionsGridClassPrefix: 'pgrid' !default;

$proportionsGridUseCSSCustomProperties: false !default;